@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width: 600px) {
   .hata{
    display: none;
   }
  }
 body{
   background-color: #F8E2CF !important; 
 }
 .loadmore{
  background-color: #B27D3E  !important;
  color: white !important;
  padding-left:1.2rem !important ;
  padding-right: 1.2rem !important;
 }