@tailwind base;
@tailwind components;
@tailwind utilities;


/* Tailwind base, components, and utilities */

@media screen and (max-width: 600px) {
  .hata {
    display: none;
  }
}

body {
  background-color: #f8e2cf !important;
  overflow-x: hidden !important;
}

.customButton {
  background-color: #b27d3e !important;
  color: white !important;
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Adjust values   a   s needed */
}

.logout {
  color: white !important;
}
@media (max-width:420px){
  .hatade{
    display: none;
  }
}
.searchBar {
  background-color: white !important;
  color: black !important;
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}
.sc-fjdhpX{
  background-color: #8c4e1d !important;
}
.sc-gqjmRU{
  background-color: #8c4e1d !important;
}
.sc-bZQynM{
  background-color: #8c4e1d !important;
}
.rsc-os-option-element{
  background-color: #8c4e1d !important;
}
.rsc-ts-bubble{
  color: white !important;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Make sure it's above other elements */
}

.reviews-container {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}
/* .hello{
  width: 100% !important;
  height: unset !important;

} */
blockquote.yes{
  padding: 10px;

}
.helpline{
  position: fixed !important;
  right: 0 !important;
  transform: rotate(-90deg) !important;
  top:50%!important;
  z-index: 10;
  margin-right: -34px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important; 

}
.chakra-modal__content{
  background-color: #F8E2CF !important;
}